.custom-fade {
  opacity: 0;
  transition: opacity var(--transition-duration, 1000ms) ease-in-out;

  &-entering, &-entered{
    opacity: 1;
  }

  &-exiting, &-exited, &-unmounted{
    opacity: 0;
  }
}