/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.bg-pattern-1 {
    --s: 86px; /* control the size*/
    --c1: #ccd6ff;
    --c2: #b8c4f4;
    --c3: #99afdb;

    --_g: 0 120deg,#0000 0;
    background:
            conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
            conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
            conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
            conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
            conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*sqrt(3)) var(--s);
}

.bg-pattern-2 {
    --s: 86px; /* control the size*/
    --c1: #f9f9fa;
    --c2: #f4f4f5;
    --c3: #fcfcfc;

    --_g: 0 120deg,#0000 0;
    background:
            conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
            conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
            conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
            conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
            conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*sqrt(3)) var(--s);
}